# Project by https://github.com/rix1337

.claude/

# Python
*.pyc
*.bak

# Virtual Environment
.venv

# PyCharm
.idea

# Ruff
.ruff_cache

# MacOS
.DS_Store
**/.DS_Store

# Quasarr
*.conf
*.db
*.db-shm
*.db-wal
*.ini
.env
